@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Palette+Mosaic&family=Quicksand:wght@400;700&display=swap');
/* font-family: 'Inspiration', cursive;
font-family: 'Palette Mosaic', cursive;
font-family: 'Quicksand', sans-serif; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
    transition: 1s;
}

button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 1em 0;
    font-family: 'Palette Mosaic', cursive;
    font-size: 24px;
}
  
button:hover{
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      margin: 1em 0;
      font-size: 24px;
      cursor: pointer;
}

section#toolbar {
    position: absolute;
    width: 100%;
    height: 100vh;
    /* background: rgba(255, 255, 255, 1); */
    display: flex;
}

section#toolbar article {
    position: absolute;
    max-width: 35vw;
    /* max-height: 40vh; */
    font-family: 'Quicksand', sans-serif;
}

section#toolbar #version0Container {
    position: absolute;
    display: none;
    background: rgba(255, 255, 255, 0.5);
    padding: 1em;
}

section#toolbar article h2{
    font-family: 'Palette Mosaic', cursive;
    font-size: 28px;
}

section#toolbar article p{
    font-size: 24px;
}

section#toolbar article button{
  background-color: #4caf4f9d;
  color: white;
}

section#toolbar article button:hover{
    background-color: #68b76b9b;
    color: white;
}

#menuLogo {
  position: fixed;  
  top: 0;
  right: 0;
  margin: 1em;
  font-size: 48px;
}

#menuLogo:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.2s;
}

#menuLogoClose {
    position: fixed;  
    top: 0;
    right: 0;
    display: none;
    margin: 1em;
    font-size: 48px;
  }
  
#menuLogoClose:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.2s;
}

#playLogo {
    position: fixed;  
    top: 0;
    right: 2em;
    margin: 1em;
    font-size: 48px;
}

#playLogo:hover {
    cursor: pointer;
    transform: scaleX(-1);
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color: aliceblue;
}

header#instructions {
    background: rgb(255, 255, 255);
    width: 100%;
    height:100vh;
	padding: 2em;
    display: none;
    flex-flow: column;
	color: rgb(0, 0, 0);
    text-align: right;
}
header h1 {
    margin-top: 5em;
    margin-bottom: 1em;
	font-size: 28px;
	font-family: 'Palette Mosaic', cursive;
}

header p {
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Palette Mosaic', cursive;
    font-size: 72px;
}
#loading .progress {
    margin: 1.5em;
    border: 1px solid rgb(200, 190, 0);
    width: 50vw;
}
#loading .progressbar {
    margin: 2px;
    background: rgb(200, 190, 0);
    height: 1em;
    transform-origin: top left;
    transform: scaleX(0);
}

#captureZone {
    display: none;
    position: fixed;
    width: 2em;
    height: 2em;
    border: 2px solid rgb(255, 255, 255) !important;
}

article#realityContainer {
    max-width: 50vw;
    display: none;
    position: absolute;
    background: rgba(240, 240, 240, 0.5);
    padding: 5em;
    border: 0.2em solid rgb(255, 191, 80);
    /* border: rgb(52, 7, 103);
    border-width: 1em; */
}

article#realityContainer h2{
    width: 120%;
    background: rgb(0, 0, 0);
    padding: 1em 1em 0em 1em;
    font-size: 48px;
	font-family: 'Palette Mosaic', cursive;
    font-weight: bold;
    text-align: right;
    
}

article#realityContainer h3{
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 1em;
}

article#realityContainer p{
    background: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    padding: 1em;
}

article#realityContainer button{
    background-color: #4caf4f9d;
    color: white;
}

article#realityContainer button:hover{
    background-color: #70b9739d;
    color: white;
}


article#simulationContainer {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    padding-top: 1em;
}