* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color: #ffff66;
    font-family: Arial, Helvetica, sans-serif;
    width: 50vw;
    margin: auto;
    padding-top: 2rem;
    user-select: none;
    text-align: center;
    color: rgb(0, 0, 0);
}

