@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Palette+Mosaic&family=Quicksand:wght@400;700&display=swap');
/* font-family: 'Inspiration', cursive;
font-family: 'Palette Mosaic', cursive;
font-family: 'Quicksand', sans-serif; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color: aliceblue;
}

header {
    margin-top: 10vh;
	padding: 2em;
    display: flex;
    flex-flow: column;
	color: rgb(0, 0, 0);
    text-align: center;
}
header h1 {
	font-size: 72px;
	font-family: 'Palette Mosaic', cursive;
}

header h2 {
    background: rgb(255, 255, 255);
    border: 2px black;
    border-radius: 10px;
    /* width: 10em; */
	font-size: 48px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 5vh;
}

header p {
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading .progress {
    margin: 1.5em;
    border: 1px solid white;
    width: 50vw;
}
#loading .progressbar {
    margin: 2px;
    background: white;
    height: 1em;
    transform-origin: top left;
    transform: scaleX(0);
}

#captureZone {
    display: none;
    position: fixed;
    width: 2em;
    height: 2em;
    border: 2px solid rgb(255, 255, 255) !important;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
}