* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color: aliceblue;
}

header {
	padding: 2em;
	width: 100vw;
	color: rgb(255, 255, 255);
}
header h1 {
	font-size: 72px;
	
}

header h2 {
	font-size: 48px;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading .progress {
    margin: 1.5em;
    border: 1px solid white;
    width: 50vw;
}
#loading .progressbar {
    margin: 2px;
    background: white;
    height: 1em;
    transform-origin: top left;
    transform: scaleX(0);
}

section {
    padding-left: 5%;
    width: 10%;
    display: flex;
    flex-flow: column;
}

section button {
    margin-top: 5%;
    padding: 1%;
    background: rgba(255, 255, 255, 0.418);
    border: none;
}

section button:hover {
    background: white;
}