/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

body {
  /* background: rgb(8, 18, 73); */
  background-image: url("../assets/images/sailingShip.png");
  padding: 0;
  margin: 0;
  display:flex; 
  
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Inspiration', cursive;
  height: 100vh; /* Body is the height of the viewport */
}
