/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

body {
  /* background: rgb(8, 18, 73); */
  background-image: url("../assets/images/sailingShip.png");
  padding: 0;
  margin: 0;
  display:flex; 
  
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Inspiration', cursive;
  height: 100vh; /* Body is the height of the viewport */
}

/* Some Very Basic Styling */

#message {
  margin: 2em;
  width: 40vw;
  font-size: 2rem;
  background: rgb(218, 182, 182);
  border: 5px solid rgb(255, 189, 47);
}

#answer {
  background: rgb(8, 18, 73);
  margin: 2em;
  width: 40%;
  font-size: 3rem;
  margin-top: 2rem;
  height: 20rem;
  border: 5px solid rgb(255, 189, 47);
  color: rgb(255, 255, 255);
}

.found {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(255, 189, 47);
}

.found:hover {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: scale(300%);
  }
}